/*
 *Stylesheet for the strategy generation and modifications page
 *Adam Jaamour
 */

body{
    margin:0;
    padding:0;
    font-family: Sans-Serif;
}

/* main content of the page */
main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

/* right section of the page (filters + current choice) */
#nav {
    float: left;
    width: 300px;
    margin-left: -300px;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #eee;
}

.innertube {
    margin: 15px; /* Padding the right menu for content */
    margin-top: 0;
}

/* styling for the current choice*/
.choice {
    color: red;
    font-size: 18px;
}

/* keeps heading and paragraph on the same line for physical and technical risks */
.nowrap p, .nowrap h4, .nowrap h6{
    display: inline;
    vertical-align: top;
}

/* Used to keep the £ sign in front of value in input text field when range slider moves */
.currency-input {
    border: 1px inset #ccc;
}
.currency-input input {
    border: 0;
}

/* make buy button dynamic */
.buy-button {
    float: left;
}
.buy-button a {
    cursor: pointer;
    position: relative;
}
.buy-button a:active{
    top: 2px;
}

#wrapper {
    overflow: hidden;
}

#content {
    margin-right: 230px; /* Same as 'nav' width */
}

#good {
    background: green;
}

h2 {
    color: white;
}
h1,h2,h3,h4,h5 {
    color: green;
}
p {
    color: green;
}
h1 {
    color: green;
}
h1 {
    color: green;
}