<!DOCTYPE html>
<html>

<!----------------------------------------------------------------- HEAD ------------------------------------------------------------------->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Strategy management</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../style/strategy.css">
    <link rel="stylesheet" type="text/css" href="../../style/login.css">
    <link rel="stylesheet" type="text/css" href="../../style/sticky-footer.css">

    <!-- javascript -->
    <script src="../../js/strategy.js"></script>
    <script src="../../js/map.js"></script>
    <script src="../../js/jquery.js"></script>
    <script src="script.js"></script>

    <!-- Bootstrap -->
    <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../images/favicon.jpg">

    <style>
        p, h1, h2, h3, h4, h5 {
            color: white;
        }
        #map {
            width:100%;
    height:89%;
    position: absolute;
    top: 0px;
    left: 0px;
        }
    </style>
</head>

<!----------------------------------------------------------------- BODY ------------------------------------------------------------------->
<body style="background-color:#FFFFFF">
<!----------------------------------------------------------------- header ------------------------------------------------------------------->
<div class="topBar" id="topBar">
    <ul>
        <li><a href="../../index.html"><img src="../../images/logo.png" alt="Logo" width="109px" height="40px" align="middle" vspace="5" hspace="15"/></a>
        <li>
            <button class="x" id="rcorners1" onclick="location.href='strategy-generation.html'">New strategy</button>
        </li>
        <li>
            <button class="x" id="rcorners1" onclick="location.href='strategy-management.html'">Manage strategy
            </button>
        </li>
        <li style="float:right">
            <button class="active" id="rcorners1" onclick="location.href='../account/login.html'">Login</button>
        </li>
    </ul>
</div>
<!----------------------------------------------------------------- body ------------------------------------------------------------------->
<div id="wrapper">
    <div class="row" style="width: 95%;
                                float: left;
                                margin: 70px 0 15px 15px;">
        
        
		<canvas id="chart" width="800" height="600" style="z-index: 0; position: absolute; padding: 0px; left: 0px; top: 0px;"></canvas>
        <div id="map" style="z-index: -1;"></div>
                                    <script async defer
                                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIzFuQDb3CwO7nwhb-_dFCPA2Ccb8JYrY&callback=initMap"></script>
        <!-- map -->
        <div class="col-md-8" align="middle">
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-body" style="background:#95a3d0" align="middle">
                        <h1>Strategy Generation</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- strategy choice -->
        <div class="col-md-4" style="height=100%">
            <div class="panel panel-green">
                <div class="panel-body" style="background:#95a3d0">
                    <h2><u>Strategy Name</u></h2>
					<div class="form-group">
						<input type="text" class="form-control input-lg" id="usr" value="Extra Profit Strategy">
					</div>
                    <h3>Economic Sector</h3>
                    <div class="styled-select">
                        <select id="stocks-recommended" onchange="updateSelectedRecommendedStock()">
                            <option>All Sectors</option>
							<option>Telecommunication</option>
							<option>Legal services</option>
							<option>Construction</option>
							<option>Food processing</option>
							<option>Consulting</option>
							<option>Gambling</option>
							<option>Retail sales</option>
							<option>Franchising</option>
							<option>Real estate</option>
							<option>Education</option>
							<option>Pharmaceuticals</option>
							<option>Hospitality/Tourism</option>
							<option>Mass media</option>
							<option>Healthcare/hospitals</option>
							<option>Public health</option>
							<option>Information technology</option>
							<option>Waste disposal</option>
							<option>Banking</option>
							<option>Insurance</option>
							<option>Financial services</option>
                        </select>
                    </div>
                    <h3>Technical Risk:</h3>
                    <div style="clear: both"> <!-- keep h6 headings on same line -->
                        <h4 style="float: left">0%</h4>
                        <h4 style="float: right">100%</h4>
                    </div>
                    <div class="nowrap">
                        <input id="slider" type="range" min="0" max="100" step="1"
                               value="50"/>
                    </div>
                    <h3>Physical Risk:</h3>
                    <div style="clear: both"> <!-- keep h6 headings on same line -->
                        <h4 style="float: left">0%</h4>
                        <h4 style="float: right">100%</h4>
                    </div>
                    <div class="nowrap">
                        <input id="slider" type="range" min="0" max="100" step="1"
                               value="50"/>
                    </div>
                    <h3>Amount:</h3>
                    <div style="clear: both"> <!-- keep h6 headings on same line -->
                        <h4 style="float: left">£1000</h4>
                        <h4 style="float: right">£100000</h4>
                    </div>
                    <div class="nowrap">
                        <input id="slider" type="range" min="1000" max="100000" step="1000"
                               value="10000"/>
                    </div>
					<h6> </h6>
                    <button class="buy-button" onclick="buttonBuyStock()" style="color: #ffffff;">
                        <a>Generate</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------- footer ------------------------------------------------------------------->
<br><br><br><br>
<div class="footer">
    <div class="container">
        <div class="row">
            <p class="footer-links">
                <a href="../../index.html" style="color: #0c0c0c">Home</a>
                ·
                <a href="../strategy/strategy-generation.html" style="color: #0c0c0c">Generate Strategy</a>
                ·
                <a href="../strategy/strategy-management.html" style="color: #0c0c0c">Manage Strategy</a>
                ·
                <a href="../account/login.html" style="color: #0c0c0c">Login</a>
                ·
                <a href="../account/register.html" style="color: #0c0c0c">Register</a>
            </p>
            <br>
            <p>
                Trade4Me &copy; 2017
                ·
                <a href="../misc/terms-privacy.html" style="color: #0c0c0c">Terms & Privacy</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>