<!DOCTYPE html>
<!-- adam jaamour -->

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Strategy management</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../../style/strategy.css">
    <link rel="stylesheet" type="text/css" href="../../style/login.css">

    <!-- javascript -->
    <script src="../../js/range-slider-value.js"></script>
    <script src="../../js/map.js"></script>

    <!-- Bootstrap -->
    <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../images/favicon.jpg"></head>

    <style>
        p, h1, h2, h3, h4, h5 {
            color: white;
        }

        #map {
            height: 500px;
            width: 500px;
        }
    </style>
</head>

<body style="background-color:#193919">

<!----------------------------------------------------------------- header ------------------------------------------------------------------->

<div class="topBar" id="topBar">
    <ul>
        <li><img src="../../images/logo.png" alt="Logo" width="109px" height="40px" align="middle" vspace="5"
                 hspace="15"/>
        </li>
        <li>
            <button class="x" id="rcorners1" onclick="location.href='../../index.html'">Home</button>
        </li>
        <li>
            <button class="x" id="rcorners1" onclick="location.href='strategy-generation.html'">New strategy</button>
        </li>
        <li>
            <button class="x" id="rcorners1" onclick="location.href='strategy-management.html'">Manage strategy
            </button>
        </li>
        <li style="float:right">
            <button class="active" id="rcorners1" onclick="location.href='../account/login.html'">Login</button>
        </li>
    </ul>
</div>

<!----------------------------------------------------------------- body ------------------------------------------------------------------->

<div id="wrapper">
    <div class="row" style="width: 95%;
                                float: left;
                                margin: 70px 0 15px 15px;">
        <div class="col-md-8">
            <div class="panel panel-green">
                <div class="panel-body" style="background:#5CB85C">
                    <h1>Strategy Generation</h1>
                    <div style="padding-top:30px" class="panel-body">
                        <main>
                            <div>
                                <div align="middle">
                                    <div id="map"></div>
                                    <script async defer
                                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIzFuQDb3CwO7nwhb-_dFCPA2Ccb8JYrY&callback=initMap"></script>
                                </div>
                                <div class="innertube">
                                    <h2>Available options</h2>
                                    <select id="stocks" onchange="updateSelectedStock()">
                                        <option value="GOOGL">Alphabet Inc</option>
                                        <option value="AAPL">Apple Inc.</option>
                                        <option value="AMAZN">Amazon</option>
                                        <option value="DB">Deutsche Bank AG (USA)</option>
                                        <option value="FB">Facebook Inc.</option>
                                        <option value="UNG">United States Natural Gas Fund, LP</option>
                                        <option value="DIS">Walt Disney Co.</option>
                                    </select>
                                    <br>
                                    <h2>Amount:</h2>
                                    <div style="clear: both"> <!-- keep h6 headings on same line -->
                                        <h6 style="float: left">£1000</h6>
                                        <h6 style="float: right">£100000</h6>
                                    </div>
                                    <div class="nowrap">
                                        <input id="slider" type="range" min="1000" max="100000" step="1000"
                                               value="10000"
                                               onchange="updateTextInput(this.value);"/>
                                    </div>
                                    <br>
                                    <span class="currency-input">£ <input type="text" id="textInput"
                                                                          value="10000"></span>
                                    <br><br>
                                    <button class="buy-button" onclick="buttonBuyStock()"><a>Buy</a></button>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="height=100%">
            <div class="panel panel-green">
                <div class="panel-body" style="background:#5CB85C">
                    <h2><u>Filters</u></h2>
                    <div style="padding-top:30px" class="panel-body">
                        <div class="innertube">
                            <select>
                                <option value="1">Economic Sector 1</option>
                                <option value="2">Economic Sector 2</option>
                                <option value="3">Economic Sector 3</option>
                            </select>
                        </div>
                    </div>
                    <h2><u>Current choice</u></h2>
                    <div style="padding-top:30px" class="panel-body">
                        <div class="innertube">
                            <h5 id="selected-stock" class="choice">GOOGL</h5>
                            <div class="nowrap">
                                <h4>Technical Risk: </h4>
                                <p>XX%</p>
                            </div>
                            <br>
                            <div class="nowrap">
                                <h4>Physical Risk: </h4>
                                <p>XX%</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>